:root{
    --fontColor1: #000000;
    --fontColor2: #FFFFFF;
    --fontColor3: #32CD32;
    --bgColor1: #4d9ef0;
    --bgColor2: #87CEEB;
    --bgColor3: #4682B4;
    --bgColor4: #FFD700;
    --bgColor5: #FF4500;
    --bgColor6: #FFFFFF;
    --bgColor7: #32CD32;
}
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}           
body{
    padding: 20px;
    background:linear-gradient(var(--bgColor3),var(--bgColor1));
}
#container{
    max-width:800px;
    margin:0 auto;
    padding:20px;
    color:var(--fontColor2);
    background: var(--fontColor1);
    border-radius:20px;
}
header{
    color:var(--fontColor3);
    font-size:1.6rem;
    margin-bottom:20px;
    text-align: center;
}
.section{
    margin-bottom: 20px;
    border:1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}
.produto-options,.acessorios-options{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap: 10px;
}
.item{
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s
}
.item:hover{
    background: var(--bgColor4);
    color: var(--fontColor1);
}
.item.selected{
    background: var(--bgColor5);
    border-color: var(--bgColor6);
    color: var(--fontColor1);
}
#endereco{
    width:100%;
    margin-top: 20px;
    height:30px;
}
.pagamento-options label{
    display: block;
    margin: 10px 0;
}
button{
    background: var(--bgColor7);
    width:50%;
    height:30px ;
    margin-left: 25%;
    border-radius: 10px;
    cursor: pointer;
    font-size:1rem;
}
button:hover{
    background: var(--fontColor3);
}
#total{
    color:var(--bgColor7);
    font-size:1.3rem;
    font-weight: 700;
    text-align:right;
    margin:20px 0;
}
footer{
    background: transparent;
}
.swal2-confirm {
    background-color: #28a745;
    width: 100px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}